*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:'Byekan';
    src: url('../fonts/Byekan.ttf') format('truetype'),
        url('../fonts/Byekan.woff') format('woff');
        
}

@font-face{
    font-family: lalehzar;
    src: url('../fonts/lalezar.ttf') format('truetype'),
        url('../fonts/lalezar.woff');
}
body{
    font-family: Byekan;
}

.header{
    background-image: url('../images/background.png');
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 35px;
}
.header .nav-list .nav-item{
    display: inline-block;
}
.header .nav-list .nav-item a{
    text-decoration: none;
    color: white;
    margin: 10px;

}

.header h1{
    color: white;
    font-family: lalehzar;
    margin-top: 80px;
}
.header p{
    color: white;
    background-color: rgba(0,0,0,.5);
    padding: 5px;
    border: 1px solid white;
    width: 400px;
    margin: 30px auto;
    border-radius: 20px;
}
.header h1 span{
    color: orange;
}
.members{
    text-align: center;
    padding: 10px;
}
.members h1{
    
}
.member-list{
    list-style-type: none;
}
.member-item{
    display: inline-block;
    width: 350px;
    box-shadow: 0 0 15px #bbbbbb;
    margin: 10px;
}
.members-pic{
    width: 100%;
}

.member-item p{
    text-align: justify;
    padding: 20px;
}
.about{
    background-image: url('../images/bg.jpg');
    height: 700px;
    background-position: center;
    background-size: cover;
    padding: 100px;
    background-color: black;
}
.circle{
    width: 600px;
    height: 600px;
    background-color: red;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    padding: 120px 70px;
    background-color:

}
.circle p{
    text-align: justify;
    color: white;
}
.circle h1{
color: white;
}